language: go
matrix:
  include:
  - os: linux
    dist: trusty
go:
- 1.8
branches:
  only:
  - master
addons:
  ssh_known_hosts: alex.eastasia.cloudapp.azure.com

before_install:
- openssl aes-256-cbc -K $encrypted_939eabd01bcf_key -iv $encrypted_939eabd01bcf_iv
  -in ./deployKey/deploy_rsa.enc -out ./deployKey/deploy_rsa -d

script: 
- go build 
- go test ./... -v -bench=. -cover

before_deploy:
- eval "$(ssh-agent -s)"
- chmod 600 ./deployKey/deploy_rsa
- ssh-add ./deployKey/deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/ciDemo alex@alex.eastasia.cloudapp.azure.com:~/build/
  on:
    branch: master

after_script: 
  - rm ./deployKey/deploy_rsa

notifications:
  slack:
    secure: OrYlfj4Ss5X/rtakze3jk4Li274nlZcw6L22urNP+LDVq47jEw+JLCEf9g3Xg5GQq1qI0I4ovoBzJUhBTt7on6i3tes9BpVptiXi83Vu6nE1qucmCR1Y0wYQIDXA+dpZo4S61y2vto2nZczk+JABkjMXakRl9E71Y70E6B0yRxJOoq3xCH+S74UZ/6qEmpR/3s8DQklatXkuOOzlDa0RnSQk5KeljvSGi7gQWE3ozIRWsYF7u7/h1pIp60izBRYhnJCB5JTKVeiYKZbH8Pk7//xlrzQ1H4hSfOZO21OPnSeLL3ectDRuocUZc6zt2WO6AJhkl7gYNsuBErQdWFq1lJvB2CpDpkdReJ11IPxoMBad5GOehrCGRs0bsHcu7WFJwY7iqM4KomvaJTdCrVgD00989nA/iTKVsCWnv0ybfM505Gj3bw/39E+xRFV0x5j9PfTJdVrg89m3DVaSSm39x1mPTB1A1yOW7v6Kl4SyOi9Ozfzc3senqNeZxiePb1Yc93Pmeyd5S2VozoBn1znCaby90vcvsiO/UWfVGn1FFpxWFn02E2PpzrvbU58w9EVW46d/UDXsxWh6awLw/XzzdJzYxZbjNnAF0dEnTVMtTalByIQciQ3R5eLgCuTQfYiWP12yftj0YhW9KTmIorIA59F6m0msw/aSL1CcQ3Oxhv4=
