language: go
matrix:
  include:
  - os: linux
    dist: trusty
  - os: osx
    osx_image: xcode7.2
go:
- 1.8
branches:
  only:
  - dev

addons:
  ssh_known_hosts: alex.eastasia.cloudapp.azure.com

script: go build
after_script: go test ./... -v -cover
before_install:
- openssl aes-256-cbc -K $encrypted_939eabd01bcf_key -iv $encrypted_939eabd01bcf_iv
  -in ./deployKey/deploy_rsa.enc -out ./deployKey/deploy_rsa -d

deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/ciDemo alex@alex.eastasia.cloudapp.azure.com:~/build/
  on:
    branch: master